body {
  margin: 0;
  font-family: Tiempos;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
  font-size: 18px;
  margin-bottom: 20px;
}

h6, p {
  margin: 0;
}

@font-face {
  font-family: "Tiempos";
  src: url("./assets/fonts/TestTiemposText-Regular.otf");
}
